* {
    padding: 0;
    margin: 0;
}
/* start navbar */
.navbarr .active {
border-radius: 3px;
border: 1px solid red
}
.uk-navbar {
    display: flex;
    position: static;
}
/* end navbar */
/* staet header */
.header .uk-section {
    padding: 5%;
}
.header .uk-section .uk-button {
    border-radius: 5px;
    background-color: red;
    color: aliceblue;
    outline: unset;
}
.header .uk-section .uk-button:hover {
    background-color: aliceblue;
    color: red;
}
/* end header */
/* start deescin */
.descin .uk-section i {
    background-color: black;
    color: red;
    border-radius: 30px;
    padding: 3%;
    font-size: 30px;
}
.descin .uk-section span {
    color: black;
    font-size: 25px;
    cursor: pointer;
}
/* end descin */
/* start video */
.video .uk-container {
    margin: 70px;
  background-color: #000000;
  border: 1px solid black;
  opacity: 0.8;
}
.video .uk-section h3{
    margin: 5%;
  font-weight: bold;
  color: #ffffff;
}
.video .uk-section i {
    background-color: orangered;
    color: #000000;
    border-radius: 30px;
    font-size: 30px;
    padding: 3%;
    margin-top: 5%;
}
/* end video */
/* start far */
.far .uk-section h3 {
    color: #000000;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.far .uk-section .active {
    background-color: orangered ;
    color:white;
    border-radius: 2px;
}
.far .uk-section .uk-button {
    border-radius: px;
    border: 1px solid black;
}
.far .uk-section img {
    width: 200px;
    height: 200px;
}
.far .uk-section i {
    background-color: orangered;
    color: #000000;
    border-radius: 40px;
    font-size: 30px;
    padding: 1%;
    cursor: pointer;
}
.more {
    display: none;
    margin-top: 2%;
}
.more h3 {
    color: #000000;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
/* end far */
/* start about us */
.text {
    margin: 50px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.8;
    width: 30%;
    text-align: center;
}
.text  h4{
    margin: 7%;
  font-weight: bold;
  color: #ffffff;
}
.text .uk-button:hover {
    color: #000000;
    background-color: #ffffff;
}
/* endd about us */
/* start our team */
.team i  {
    padding-left: 2px;
}
.team h3 {
    color: #000000;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: capitalize;
}
/* end our team */
/* start our blog */
.blog .uk-section h3 {
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.blog .uk-section img {
    width: 200px;
    height: 200px;
}
.blog .uk-section h5 {
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.blog .uk-section h4 {
    color: red;
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: right;
}
.blog .uk-section i {
    background-color: red;
    color: #ffffff;
    border-radius: 40px;
    font-size: 30px;
    padding: 1%;
    margin-top: 2%;
}
/* end our blog */
/* start keep touch */
.touch .uk-section input {
    background-color: #b7b7b7;
    color: black;
    border-radius: 5px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.touch .uk-section textarea {
    background-color: #b7b7b7;
    color: black;
    border-radius: 5px;
    width: 50%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.touch .uk-section .uk-button {
    background-color:darkred ;
    color:white;
    border-radius: 5px;
    width: 50%;
}
.touch .uk-section i  {
    background-color:darkred ;
    border-radius: 30px;
    font-size: 30px;
    padding: 5%;
}
.touch .uk-section h3 {
    color: #000000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    text-transform: capitalize;
}
.touch .uk-section p {
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
}
/* end keep touch */ 
/* start footer */
.footer .uk-section i {
    font-size: 20px;
    margin-left: 10px;
}
/* end footer */